%h1 New task

- form_for(@task) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :due
    %br
    = f.date_select :due
  %p
    = f.submit 'Create'
= link_to 'Back', tasks_path